@media(max-width: 1200px) {
     .menu__link {
        font-size: 15px;
    } 

    .logo {
        font-size: 20px;
    }

    .iconbox-desc {
        font-size: 11px;
    }
} 

@media(max-width: 991px) {
    .iconbox-desc {
        font-size: 14px;
    }
}

@media(max-width: 522px) {
    .content__text {
        font-size: 15px;
    }
}

@media(max-width: 991px) {
     .menu__link {
        font-size: 15px;
        margin-left: 30px;
    } 

    .logo {
        font-size: 20px;
    }

    
} 
@media(max-width: 561px) {
     .intro__title {
        font-size: 30px;
    } 
} 
@media(max-width: 420px) {
     .intro__title {
        font-size: 25px;
    } 

    .start {
        font-size: 15px;
    }

    .intro {
        justify-content: center;
    }
} 
@media(max-width: 350px) {
     .intro__title {
        font-size: 22px;
    } 
} 
@media(max-width: 337px) {
     .intro__title {
        font-size: 20px;
    } 
} 
